src/ml_project/data/
*.csv
*.parquet
*.zip
 
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
build/
dist/
 
.venv/
venv/
env/
.uv/
.conda/
 
 
.DS_Store
Thumbs.db
 
.vscode/
.idea/
 
mlruns/
 
artifacts/
outputs/
models/
*.pkl
*.joblib
*.model
 
*.log
*.tmp
*.cache/
.cache/
 
docker-volume/